<h2>Log In!</h2>
<form method="post" action="/auth/login">
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control" placeholder="your email here">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" placeholder="put your credit card number here">
  </div>
  <input type="submit" value="Login" class="btn btn-success">
</form>

<a href="/auth/facebook" class="btn btn-primary">
  <i class="fa fa-facebook-official"></i>Login via Facebook
</a>
